*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    display: grid;
    grid-template-columns: 5% 35% 60%;
    background-color: #E9ecec;
    margin-left: 20%;
    margin-right: 20%;
    box-shadow: 12px 0 15px -4px rgba(170, 170, 170, 0.8), -12px 0 8px -4px rgba(170, 170, 170, 0.8);
}

.border-left{
    background-color: white;
}

.about-me{
    background-color: #5b8f8f;
}

.information{
    background-color: white;
}

.first-row{
    background-color: white;
    height: 50px;
}

.second-row{
    background-color: #ebc9bb;
    height: 250px;
}

.third-row{
    background-color: white;
    height: 500px;
}

.imagen-perfil{
    border: solid 3px white;
    border-radius: 50%;
    width: 80%;
    height: 80%;
    object-fit: cover;
}

.first-row-about-me{
    height: 50px;
}

.second-row-about-me{
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.third-row-about-me{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 40px;
    color: white;
}

.icon-text{
    display: flex;
}

.text-contact{
    margin-left: 10px;
}

.first-row-information{
    height: 50px;
}

.second-row-information{
    height: 250px;
    background-color: #ebc9bb;
    color: black;
    padding-left: 40px;
    padding-top: 60px;
}

.nombre{
    font-size: 45px;
}

.third-row-information{
    padding: 40px;
}


@media (max-width: 1100px) {
    body{
        margin-left: 3%;
        margin-right: 3%;
    }
}

@media (max-width: 700px) {
    .imagen-perfil{
        height: 60%;
        width: 60%;
    }

    .nombre{
        font-size: 35px;
    }

    body{
        grid-template-columns: 2% 35% 60%;
        margin-left: 0;
        margin-right: 0;
    }

    .about-me, .information{
        font-size: 12px;
    }

    .third-row-about-me, .third-row-information{
        padding: 10px;
    }
}

@media (max-width: 600px) {
    .imagen-perfil{
        height: 100px;
        width: 100px;
    }

    .nombre{
        font-size: 25px;
    }
}

@media (max-width: 450px) {
    .about-me, .information{
        font-size: 9px;
    }
    .nombre{
        font-size: 22px;
    }
}